@font-face {
    font-family: UthmaniFont;
    src: url("assets/fonts/KFGQPCUthmanicScriptHAFSRegular.otf");
}

@media only screen and (max-width: 768px) {
    .navbar {
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
    }

    .nav-links {
        position: fixed;
        width: 100%;
        height: 100vh;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }

    .nav-links li {
        font-size: 3vw;
    }

    .nav-links li a {
        font-size: 3vw;
    }

    .navbar button {
        display: inline-block;
    }

    .logo {
        justify-content: center;
        margin: auto;
        font-size: 3vw;
    }

    .logo img {
        height: 2vw;
    }

    .logo span {
        font-size: 3vw;
    }

    .text-quran {
        font-size: 8vw;
    }

    .taawudz {
        font-size: 6vw;
    }

    .taawudz-translate {
        font-size: 3vw;
    }

    .content {
        width: 100%;
        padding-right: 5px;
        padding-left: 5px;
        padding-bottom: 45px;
        margin: auto auto 0px auto;
    }
}

/* Default Light Mode Styles */
body {
    margin: 0;
    margin-top: 0px;
    font-family: "Poppins", Arial, sans-serif;
    background-color: #f0f0f0;
    color: #333;
}

header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: white;
    color: #333;
    padding: 15px 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 1000;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    z-index: 1000;
}

.navbar button {
    all: unset;
    cursor: pointer;
    padding-left: 20px;
    transition: background 0.2s ease-in;
}

.nav-links {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
}

.nav-links li {
    margin: 10px;
}

.nav-links a {
    color: #333;
    text-decoration: none;
    font-size: 20px;
    padding: 10px;
    border-radius: 4px;
    transition: color 0.2s ease-in;
}

.nav-links a:hover,
.nav-links a:focus {
    background-color: rgba(0, 0, 0, 0.1);
    color: #007bff;
    transition: background 0.2s ease-in;
}

.logo {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: auto; /* Pushes the logo to the far right */
    text-align: center;
    text-decoration: none;
}

.logo img {
    height: 40px; /* Adjust based on your logo's size */
    width: auto;
    margin-right: 20px; /* Space between logo and text */
}

.logo span {
    font-size: 25px;
    color: #333;
    transition: color 0.2s ease-in;
}

.checkbtn {
    font-size: 30px;
    color: white;
    cursor: pointer;
    display: none;
}

main {
    margin-top: 60px; /* Add margin to avoid overlap with fixed navbar */
    background-color: white;
}

#header {
    background-color: white;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 10px;
    color: #333;
}

.content {
    background-color: white;
    color: #333;
    padding-top: 25px;
    padding-bottom: 50px;
    text-align: center;
    width: 55%;
    margin: 0px auto 0px auto;
}

.taawudz {
    font-size: 40px;
    margin-top: 0px;
    margin-bottom: 10px;
    font-family: "UthmaniFont", serif;
}

.taawudz-translate {
    font-size: 18px;
}

.zikir-block {
    padding-top: 40px;
}

.title {
    display: table;
    margin: 0px auto 0px auto;
    padding: 7px;
    font-size: 13px;
    background-color: #007bff;
    color: #ffffff;
    border-radius: 5px;
}

.title-block {
    padding-bottom: 20px;
}

.text-quran {
    font-family: "UthmaniFont";
    font-size: 40px;
}

.text-justify {
    text-align: justify;
}

.text-translate {
    padding-top: 25px;
    font-size: 18px;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    /* height: 30px; */
    /* background-color: #fff; */
    background-color: #014a59;
    color: white;
    text-align: center;
    font-size: 10px;
    margin-top: 50px;
}

.footer-heart {
    text-align: center;
    font-family: "Poppins", sans-serif;
}

.footer-heart a {
    border-bottom: 1px solid #453886;
    color: #453886;
    padding-bottom: 0.25em;
    text-decoration: none;
}

.footer-heart a:hover {
    color: #2196f3;
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg id='squiggle-link' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:ev='http://www.w3.org/2001/xml-events' viewBox='0 0 20 4'%3E%3Cstyle type='text/css'%3E.squiggle{animation:shift .3s linear infinite;}@keyframes shift {from {transform:translateX(0);}to {transform:translateX(-20px);}}%3C/style%3E%3Cpath fill='none' stroke='%23453886' stroke-width='2' class='squiggle' d='M0,3.5 c 5,0,5,-3,10,-3 s 5,3,10,3 c 5,0,5,-3,10,-3 s 5,3,10,3'/%3E%3C/svg%3E");
    background-position: bottom;
    background-repeat: repeat-x;
    background-size: 20%;
    border-bottom: 0;
    padding-bottom: 0.3em;
    text-decoration: none;
}

.emoji {
    vertical-align: middle;
}

/* Dark Mode Styles */
.dark-mode {
    background-color: #1e1e1e;
    color: #e0e0e0;
}

body.dark-mode {
    background-color: #121212;
    color: #e0e0e0;
}

header.dark-mode {
    background-color: #1e1e1e;
    color: #e0e0e0;
    box-shadow: 0 4px 8px rgba(255, 255, 255, 0.2);
}

#header.dark-mode {
    background-color: #1e1e1e;
    color: #e0e0e0;
}

.head.dark-mode {
    background-color: #1e1e1e;
    color: #e0e0e0;
}

.nav-links a.dark-mode {
    color: #e0e0e070;
}

.nav-links a.dark-mode:hover,
.nav-links a.dark-mode:focus {
    background-color: rgba(255, 255, 255, 0.1);
    color: white;
}

.logo span.dark-mode {
    color: #e0e0e0;
}

.content.dark-mode {
    background-color: #1e1e1e;
    color: #e0e0e0;
}

.taawudz.dark-mode {
    color: #e0e0e0;
}

.title-block.dark-mode .title {
    background-color: #caa1fc;
    color: #121212;
}
