@font-face {
    font-family: UthmaniFont;
    src: url("assets/fonts/KFGQPCUthmanicScriptHAFSRegular.otf");
}

/* Default Light Mode Styles */
body {
    margin: 0;
    font-family: "Poppins", Arial, sans-serif;
    background-color: #f0f0f0;
    color: #333;
}

header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: white;
    color: #333;
    padding: 15px 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 1000;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.navbar button {
    all: unset;
    cursor: pointer;
    padding-left: 20px;
    transition: background 0.2s ease-in;
}

.nav-links {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
}

.nav-links li {
    margin-left: 20px;
}

.nav-links a {
    color: #333;
    text-decoration: none;
    font-size: 20px;
    padding: 10px;
    border-radius: 4px;
    transition: color 0.2s ease-in;
}

.nav-links a:hover,
.nav-links a:focus {
    background-color: rgba(0, 0, 0, 0.1);
    color: #007bff;
    transition: background 0.2s ease-in;
}

.logo {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: auto; /* Pushes the logo to the far right */
    text-align: center;
    text-decoration: none;
}

.logo img {
    height: 40px; /* Adjust based on your logo's size */
    width: auto;
    margin-right: 20px; /* Space between logo and text */
}

.logo span {
    font-size: 25px;
    color: #333;
    transition: color 0.2s ease-in;
}

main {
    margin-top: 60px; /* Add margin to avoid overlap with fixed navbar */
    background-color: white;
}

#header {
    background-color: white;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 10px;
    color: #333;
}

.content {
    background-color: white;
    color: #333;
    padding-top: 25px;
    padding-bottom: 50px;
    text-align: center;
    width: 55%;
    margin: 0px auto 0px auto;
}

.taawudz {
    font-size: 3vw;
    margin-top: 0px;
    margin-bottom: 10px;
    font-family: "UthmaniFont", serif;
}

.taawudz-translate {
    font-size: 1.2vw;
}

.zikir-block {
    padding-top: 40px;
}

.title {
    display: table;
    margin: 0px auto 0px auto;
    padding: 7px;
    font-size: 13px;
    background-color: #007bff;
    color: #ffffff;
    border-radius: 5px;
}

.title-block {
    padding-bottom: 20px;
}

.text-quran {
    font-family: "UthmaniFont";
    font-size: 3vw;
}

.text-justify {
    text-align: justify;
}

.text-translate {
    padding-top: 25px;
    font-size: 1.2vw;
}

/* Dark Mode Styles */
.dark-mode {
    background-color: #1e1e1e;
    color: #e0e0e0;
}

body.dark-mode {
    background-color: #121212;
    color: #e0e0e0;
}

header.dark-mode {
    background-color: #1e1e1e;
    color: #e0e0e0;
    box-shadow: 0 4px 8px rgba(255, 255, 255, 0.2);
}

#header.dark-mode {
    background-color: #1e1e1e;
    color: #e0e0e0;
}

.head.dark-mode {
    background-color: #1e1e1e;
    color: #e0e0e0;
}

.nav-links a.dark-mode {
    color: #e0e0e070;
}

.nav-links a.dark-mode:hover,
.nav-links a.dark-mode:focus {
    background-color: rgba(255, 255, 255, 0.1);
    color: white;
}

.logo span.dark-mode {
    color: #e0e0e0;
}

.content.dark-mode {
    background-color: #1e1e1e;
    color: #e0e0e0;
}

.taawudz.dark-mode {
    color: #e0e0e0;
}

.title-block.dark-mode .title {
    background-color: #caa1fc;
    color: #121212;
}
